@import "./style.css";

.about{
    padding: 40px 0;
}
.about .content{
    width: 1170px;
    margin:  0 auto;
}
.about .content .title{
    text-align: center;
    font-size: 25px;
}
.about .content .title .underline{
    margin: 0 auto;
}

.about .content .desc{
    padding-top: 20px;
    font-size:  15px;
}
.about .content .tag-list{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.about .content .tag-list .tag{
    width: 130px;
    height: 130px;
    color: white;
    background-color: rgb(57, 207, 204);
    border-radius: 50%;
    text-align: center;
}
.about .content .tag-list .tag + .tag{
    margin-left: 140px;
}
.about .content .tag-list .tag .cn{
    font-size: 30px;
    padding-top: 30px;
}
.about .content .tag-list .tag .en{
    font-size: 18px;
}

.style .main{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 60px;
}
.style .main .title{
    font-size: 25px;
    color: rgb(102, 102, 102);
}
.style .main .title .underline{
    margin:  0 auto;
}
.style .main .content{
    display: flex;
    margin-top: 20px;
}
.style .main .content .left {
    width: 660px;
}
.style .main .content .left img{
    width: 100%;
}
.style .main .content .right{
    width: 438px;
    margin-left: 20px;
}
.style .main .content .right img{
    width: 100%;
}
.style .main .content .right .desc{
    background-color: rgb(57, 207, 204);
    height: 154px;
    margin-top: 22px;
}
.style .main .content .right .desc .text{
    /*padding: 34px 10px 0;*/
    width: 406px;
    height: 74px;
    color: white;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
}
